<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <nav>
            <div style="text-align: right">
                    <div style="text-align: left">
                        <h3>{{ request.user.username }} 님</h3>
                    </div>
                    <form action="{% url 'logout' %}" method="post" style="display: inline">
                        {% csrf_token %}
                            <button>
                                로그아웃
                            </button>
                    </form>
            </div>
        </nav>
    {% block content %}
    {% endblock %}
</body>
</html>