{% extends 'base.html'%}
{% block content %}
  <h1> 할 일 목록</h1>
    <div>
        <form action="{% url 'todo:create'%}">
            <button>
                생성
            </button>
        </form>
        <form method="get">
            <input type="text" placeholder="제목 또는 내용 입력" name="q" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
            <button>검색</button>

        </form>
    </div>
  {% for todo in object_list %}
    <p>
      <a href="{% url 'todo:info' todo.id %}">
        {{ todo.title }}</a>
    </p>
  {% endfor %}
    <div>
    {% if page_obj.has_previous %}
        <a href="?page=1"> 처음으로</a>
        <a href="?page{{ page_obj.previous_page_number }}">이전</a>
    {% else %}
        <p>&laquo; 처음으로</p>
        <p>이전</p>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if i > page_obj.number|add:-3 and i < page_obj.number|add:3 %}
            {% if i == page_obj.number %}
                <span style="color: blue">{{ i }}</span>

            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endif %}
    {%  endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">다음</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">마지막</a>
        {% else %}
        <p>다음</p>
        <p>마지막</p>
    {% endif %}
    </div>
{% endblock %}