{% extends 'base.html' %}
{% block content %}
	 <h1> 할일 {{ object.title }}</h1>
  <hr>
  <p> 할일 내용 : {{object.description}}</p>
  <p> 시작 : {{ object.start_date}}</p>
  <p> 종료 : {{ object.end_date}}</p>
  <p> 완료 여부 : {{ object.is_completed}}</p>
    {% if object.user == request.user or request.user.is_superuser %}
            <div>
        <form action="{% url 'todo:update' object.pk %}" style="display: inline">
            <button>
                수정
            </button>
        </form>
        <form id="delete_form"  action="{% url 'todo:delete' object.pk %}" method="post" style="display: inline">
            {% csrf_token %}
            <button id="delete_btn" type="button">
                삭제
            </button>
        </form>

    </div>

    {% endif %}
{% endblock %}
{% block js %}
	<script>
        document.querySelector('#delete_btn').addEventListener('click',function () {
                if(confirm('삭제 하겠습니까?')){
                    document.querySelector('#delete_form').submit();
                }
            })
    </script>
{% endblock %}