<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <div style = "text-align: right">{{ request.user.username }}
            {% if request.user.is_authenticated %}
                <form action="{% url 'logout' %}" method="POST" style="display: inline" >
                    {% csrf_token %}
                        <button>
                            logout
                        </button>
                </form>
             {% else %}
                <a href="{% url 'signup' %}">signup</a>
                 <a href="{% url 'login' %}">login</a>
            {% endif %}
        </div>
    </nav>
    <h1>블로그 목록</h1>
    {% for blog in blogs %}
    	<p>
            <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }} - {{ blog.created | date:"Y-m-d" }}</a>
        </p>
        <p>{{ count }}</p>
    {% endfor %}

</body>
</html>