*{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
}
.container{
  height: 100%;
  background-color: lightgreen;
}
.chat-screen{
  height: calc(100%-120px);
}

.user{
  background-color: aliceblue;
  padding: 16px;
  height: 80px;
}
.user-pic{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: aqua;
}
.user-nick, .user-count{
  margin: 5px;
}
.user-count{
  font-size: 12px;
  color: grey;
}

/* 채팅 입력 창 */
.chat-form{
  height: 120px;
  background-color: #FFFFFF;
}
.chat-form-f{
  height: 120px;
}
.chat-from-m{
  float: left;
  width: calc(100% - 120px);
  height: 120px;
  border: none;
  resize: none;
  font-size: 24px;
  padding: 10px;
}

.chat-form-b{
  float: right;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: rgb(33, 200, 200);
  font-size: 18px;
}

.chat-from-m:focus{
  outline: none;
}

.chat-form-b:active{
  background-color: rgb(4, 51, 51);
}
